#block-container > .super-block {
    background-color: black;
}

#block-container > .unused-block {
    background-color: gray;
}

#block-container > .inode-block {
    background-color: #4caf50;
}

#block-container > .bitmap-block {
    background-color: #f44336;
}

#block-container > .data-block {
    background-color: #03a9f4;
}
