.grid-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: white;
}

.grid-container > div {
    width: 1.5rem;
    line-height: 1;
    padding: 0.25rem 0;
    border: solid 1px white;
}

.grid-container > div.hovered {
    box-shadow: 0 0 3px black;

    z-index: 0;
}

.grid-container > div.selected {
    box-shadow: 0 0 5px black;
    font-weight: bold;
    border-color: black;
    text-decoration: underline;
    z-index: 0;
}

#block-container > .super-block {
    background-color: #f44336;
}

#block-container > .super-block:before {
    content: "S";
}

#block-container > .unused-block {
    background-color: gray;
}

#block-container > .unused-block:before {
    content: "-";
}


#block-container > .inode-block {
    background-color: #4caf50;
}

#block-container > .inode-block:before {
    content: "I";
}

#block-container > .bitmap-block {
    background-color: #3f51b5;
}

#block-container > .bitmap-block:before {
    content: "B";
}

#block-container > .data-block {
    background-color: #03a9f4;
}

#block-container > .data-block:before {
    content: "D";
}

#inode-container > .unused-inode {
    background-color: gray;
}

#inode-container > .unused-inode:before {
    content: "-";
}

#inode-container > .directory-inode {
    background-color: #3f51b5;
}

#inode-container > .directory-inode:before {
    content: "D";
}

#inode-container > .file-inode {
    background-color: #4caf50;
}

#inode-container > .file-inode:before {
    content: "F";
}

#inode-container > .unknown-inode {
    background-color: #4caf50;
}

#inode-container > .unknown-inode:before {
    content: "U";
}

#inode-container > .device-inode {
    background-color: #f44336;
}

#inode-container > .device-inode:before {
    content: "S";
}