.grid-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: white;
}

.grid-container > div {
    width: 1.5rem;
    line-height: 1;
    padding: 0.25rem 0;
    border: solid 1px white;
}

.grid-container > div.hovered {
    box-shadow: 0 0 3px black;
    z-index: 0;
    color: black;
}

.grid-container > div.selected {
    box-shadow: 0 0 5px black;
    font-weight: bold;
    border-color: black;
    z-index: 0;
    color: black;
}

.grid-container > div.related {
    font-weight: bold;
    color: black;
}


