body {
    font-family: sans-serif;
}

pre {
    white-space: pre-wrap;
    tab-size: 6;
}


@media screen and (min-width: 640px) {
    #content {
        display: flex;
    }

    #grid {
        flex: 55%;
    }

    #detail {
        flex: 30%;
    }

    #file-tree {
        flex: 15%;
    }
}


#detail-content {
    word-break: break-word;
    height: 85vh;
    overflow: scroll;
}

#file-tree-content {
    word-break: break-word;
    height: 85vh;
    overflow: scroll;
}