body {
    font-family: sans-serif;
}

pre {
    white-space: pre-wrap;
    tab-size: 6;
}

#block-inode {
    display: flex;
}

#grid {
    flex: 60%;
}

#detail {
    flex: 40%;
}


#detail-content {
    word-break: break-word;
    max-height: 100vh;
    overflow: scroll;
}