body {
    font-family: sans-serif;
}

pre {
    white-space: pre-wrap;
    tab-size: 12;
}

#body {
    display: flex;
}

#detail {
    flex: 30%;
    max-height: -webkit-fill-available;
    overflow: scroll;
}

#grid {
    flex: 70%;
}


#detail-content {
    word-break: break-all;
}