#inode-container > .unused-inode {
    background-color: gray;
}

#inode-container > .unused-inode:before {
    content: "-";
}

#inode-container > .directory-inode {
    background-color: #3f51b5;
}

#inode-container > .directory-inode:before {
    content: "D";
}

#inode-container > .file-inode {
    background-color: #4caf50;
}

#inode-container > .file-inode:before {
    content: "F";
}

#inode-container > .unknown-inode {
    background-color: #4caf50;
}

#inode-container > .unknown-inode:before {
    content: "U";
}

#inode-container > .device-inode {
    background-color: #f44336;
}

#inode-container > .device-inode:before {
    content: "S";
}